.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-bottom: 50px;
}

.button {
    background-color: #DD5746;
    border-color: #DD5746;
    color: white;
    padding: 14px 40px;
    border-radius: 8px;
    }

.converter {
    height: 70vh;
    margin: 20px;
}

.row {
    display: flex;
    align-items: start;
    height: 100%;
    width: 100%;
}

.editor {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    height: 100%;
    width: 50%;

}

.ql-toolbar {
    background-color:#FFC470;
    color: white;
}

.output {
    background-color: white;
    color: black;
    overflow-y: scroll;
    height: 100%;
    width: 50%;
}
